#container {

    width: 20%;
    height: 40px;
    justify-content: flex-end;
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    margin-left: 80%;
    /* flex-direction: row-reverse;  */

}

#parent1 {
    width: 100%;
    /* border: 1px solid; */
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#parent2 {
    width: 90%;
    justify-content: space-around;
    display: flex;
    /* border: 1px solid; */
    margin: auto;
    color: black;

}

.parent2 {
    padding: 20px;
    width: 60%;
}

#search {
    display: flex;
    /* border: 1px solid; */
    margin-top: 2%;
    justify-content: space-around;
    margin-right: 80px;

}

#parent3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 400px);
    border: 1px solid;
    margin-top: 2%;
}

#parent3>div {
    /* border: 1px solid; */

}



.child1>img {
    width: 80%;
    margin: auto;
    height: 310px;
    margin-left: 80px;

}

#pic>div> {
    height: 200px;
    width: 80%;
}

img {
    height: 400px;
    width: 90%;
    margin-right: 20px;
}

#parent4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 400px);
    /* border: 1px solid; */
    margin-top: 3%;
}

#parent4>div {
    border: 1px solid;
}

.child2>img {
    width: 60;
    margin: auto;
    height: 300px;
    margin-left: 45px;
    margin-top: 30px;
}

#parent5 {
    height: 400px;
    width: 100%;
    border: 1px solid;
    display: flex;
    margin-top: 10px;
}

#parent5>div {
    height: 390px;
    width: 30%;
    margin: auto;
    /* border: 1px solid; */
}

.child3 {
    background-color: greenyellow;
    margin-left: 30%;
}

#parent6 {
    width: 100%;
    height: px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    border: 1px solid;
    margin: auto;


}

.parent6b {
    display: flex;
    justify-content: space-between;
}

/* .parent6b>div{

    justify-content: space-between;
    justify-items: center;
} */
.parent6a {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.parent6a>div {
    margin-top: 40px;
}